> .gitignore
git add .gitignore
git commit -m "message" .gitignore

curl -o .gitignore https://www.gitignore.io/api/MY_API_NAME
curl -o .gitignore https://www.gitignore.io/api/java
curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/master/MY_API_NAME.gitignore
curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/master/Java.gitignore

# Binaries for programs and plugins
*.doct
*.jpn
*.png
*.gif
*.mp3
*.mp4
*.pdf
*.exe
*.txt
*.zip
*.exe
*.app
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
